[user]
	name = Xaver Y.R. Chen
	email = yrchen@ATCity.org
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = nano
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	ci = commit
	di = diff
	st = status
	br = branch
	re = remote
	lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	zip = archive --format zip -o $(git log --pretty=format:"%h" -1).zip HEAD
[branch]
	autosetuprebase = always
